body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ececec;
    margin: 0;
    padding-bottom: 70px;
    box-sizing: border-box;
    position: relative;
}

.container {
    text-align: center;
    background-color: #dedede;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    margin: 20px 0;
}

h1 {
    color: #c7c7c7;
    font-size: 2.5em;
    margin-bottom: 10px;
}

#loading-message {
    font-size: 1.5em;
    margin: 20px 0;
}

#question {
    font-size: 1.5em;
    margin: 20px 0;
}

#answer {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10px;
}

.buttons {
    position: fixed;
    top: 66.6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    padding: 0 20px; /* Add some padding to prevent buttons from touching the screen edges */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 5px; /* Adjust margin to create space between buttons */
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #666666;
    transition: background-color 0.3s ease;
    flex-grow: 1; /* This is the key change to make the buttons the same width */
}

button:hover {
    background-color: #666666;
}

.hidden {
    display: none;
}

.footer-links {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    display: block;
    margin-bottom: 15px;
    text-decoration: underline;
    color: #666666;
}

.footer-links a:last-child {
    margin-bottom: 0;
}

.email-link {
    white-space: nowrap;
}
